{% extends 'lending/base.html' %} {% load static %} {% block content %}
<!-- header-end -->

<!-- main-area -->
<main>
  <!-- breadcrumb-area -->
  <section
    class="breadcrumb-area d-flex align-items-center"
    style="background-image: url(img/testimonial/test-bg.png)"
  >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12">
          <div class="breadcrumb-wrap text-left">
            <div class="breadcrumb-title">
              <h2>About Us</h2>
              <div class="breadcrumb-wrap">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      About
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb-area-end -->

  <!-- about-area -->
  <section
    id="about"
    class="about-area about-p pt-120 pb-120 p-relative"
    style="background: #000"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="s-about-img p-relative">
            <img src="img/bg/about-us.png" alt="about-img" />
            <div class="about-text second-about">
              <span>30 <sub>+</sub></span>
              <p>Years Experience</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 pl-60">
          <div class="about-content s-about-content">
            <div class="about-title second-atitle pb-25">
              <h5>About Me</h5>
              <h2>Your Beauty and Success Starts Here</h2>
            </div>
            <p>
              Hello, I'm Olivia a Professional Makeup Artist. Quisque luctus
              tincidunt enim dapibus pharetra neue ultricies at. Morbi dapibus
              mauris id scelerisque placerat nula massa lacinia orci in
              facilisis nulla quam volutpat lectus. Nunc elementum ante commodo
              felis hendrerit.
            </p>
            <div class="about-content3">
              <div class="row">
                <div class="col-md-12">
                  <ul class="green">
                    <li>
                      Fringilla risus nec, luctus mauris orci auctor purus
                      euismod at pretium purus pretium ligula rutrum tempor
                      sapien.
                    </li>
                    <li>
                      Nemo ipsam egestas volute turpis dolores ut aliquam
                      quaerat sodales sapien undo pretium purus.
                    </li>
                    <li>
                      Placerat nula massa lacinia orci in facilisis nulla quam
                      volutpat lectus dapibus mauris id scelerisque.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about-area-end -->
  <!-- testimonial-area -->
  <section
    class="testimonial-area text-center pt-120 pb-95"
    style="background-image: url(img/bg/testimonial-bg.png)"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div
            class="section-title text-center mb-50 wow fadeInDown animated"
            data-animation="fadeInDown"
            data-delay=".4s"
          >
            <h5>testimonials</h5>
            <h2>some users feedback</h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div
            class="testimonial-active wow fadeInUp animated"
            data-animation="fadeInUp"
            data-delay=".4s"
          >
            <div class="single-testimonial-outer">
              <div class="single-testimonial">
                <div class="qt-img">
                  <img src="img/testimonial/qt-icon.png" alt="img" />
                </div>

                <p>
                  “Etiam sodales congue consequat. Aenean vitae ullamcorper leo.
                  Pellentesque condimentum ex ut erat posuere, quis tincidunt
                  augue semper. Cras congue nulla sed quam hendrerit euismod”
                </p>
                <div class="testi-author">
                  <img src="img/testimonial/testi_avatar.png" alt="img" />
                  <div class="ta-info">
                    <h6>Alexis browni JR.</h6>
                    <span>founder of alxis co.</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="single-testimonial-outer">
              <div class="single-testimonial">
                <div class="qt-img">
                  <img src="img/testimonial/qt-icon.png" alt="img" />
                </div>

                <p>
                  “Etiam sodales congue consequat. Aenean vitae ullamcorper leo.
                  Pellentesque condimentum ex ut erat posuere, quis tincidunt
                  augue semper. Cras congue nulla sed quam hendrerit euismod”.
                </p>
                <div class="testi-author">
                  <img src="img/testimonial/testi_avatar.png" alt="img" />
                  <div class="ta-info">
                    <h6>Paul M. Matney</h6>
                    <span>Lawyer</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="single-testimonial-outer">
              <div class="single-testimonial">
                <div class="qt-img">
                  <img src="img/testimonial/qt-icon.png" alt="img" />
                </div>

                <p>
                  “Etiam sodales congue consequat. Aenean vitae ullamcorper leo.
                  Pellentesque condimentum ex ut erat posuere, quis tincidunt
                  augue semper. Cras congue nulla sed quam hendrerit euismod”
                </p>
                <div class="testi-author">
                  <img src="img/testimonial/testi_avatar.png" alt="img" />
                  <div class="ta-info">
                    <h6>Alexis browni JR.</h6>
                    <span>founder of alxis co.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- testimonial-area-end -->

  {% endblock %}
</main>
