{% extends 'lending/base.html' %} {% load static %} {% block content %}

<!-- search-popup -->
<div
  class="modal fade bs-example-modal-lg search-bg popup1"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content search-popup">
      <div class="text-center">
        <a href="#" class="close2" data-dismiss="modal" aria-label="Close"
          >× close</a
        >
      </div>
      <div class="row search-outer">
        <div class="col-md-11">
          <input type="text" placeholder="Search for products..." />
        </div>
        <div class="col-md-1 text-right">
          <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /search-popup -->
<!-- breadcrumb-area -->
<section
  class="breadcrumb-area d-flex align-items-center"
  style="background-image: url(img/testimonial/test-bg.png)"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-12 col-lg-12">
        <div class="breadcrumb-wrap text-left">
          <div class="breadcrumb-title">
            <h2>Portfolio</h2>
            <div class="breadcrumb-wrap">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    portfolio
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb-area-end -->
<!-- gallery-area -->
<section id="portfolio" class="pt-120 pb-90" style="background: #222">
  <div class="container">
    <div class="portfolio">
      <div class="row align-items-center mb-50">
        <div class="col-lg-5">
          <div
            class="section-title wow fadeInLeft animated"
            data-animation="fadeInLeft"
            data-delay=".4s"
          >
            <h5>portfolio</h5>
            <h2>creative works</h2>
          </div>
        </div>
        <div class="col-lg-7">
          <div
            class="my-masonry text-right wow fadeInRight animated"
            data-animation="fadeInRight"
            data-delay=".4s"
          >
            <div class="button-group filter-button-group">
              <button class="active" data-filter="*">all works</button>
              <button data-filter=".financial">Face Makeup</button>
              <button data-filter=".banking">Eye Makeup</button>
              <button data-filter=".insurance">Hair Makeup</button>
              <button data-filter=".family">Bridal Makeup</button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="grid col3 wow fadeInUp animated"
        data-animation="fadeInUp"
        data-delay=".4s"
      >
        <div class="grid-item financial">
          <a class="popup-image" href="img/gallery/protfolio-img01.jpg">
            <figure class="gallery-image">
              <img
                src="img/gallery/protfolio-img01.jpg"
                alt="img"
                class="img"
              />
            </figure>
          </a>
        </div>
        <div class="grid-item financial banking">
          <a class="popup-image" href="img/gallery/protfolio-img02.jpg">
            <figure class="gallery-image">
              <img
                src="img/gallery/protfolio-img02.jpg"
                alt="img"
                class="img"
              />
            </figure>
          </a>
        </div>
        <div class="grid-item insurance">
          <a class="popup-image" href="img/gallery/protfolio-img03.jpg">
            <figure class="gallery-image">
              <img
                src="img/gallery/protfolio-img03.jpg"
                alt="img"
                class="img"
              />
            </figure>
          </a>
        </div>
        <div class="grid-item family">
          <a class="popup-image" href="img/gallery/protfolio-img04.jpg">
            <figure class="gallery-image">
              <img
                src="img/gallery/protfolio-img04.jpg"
                alt="img"
                class="img"
              />
            </figure>
          </a>
        </div>
        <div class="grid-item business">
          <a class="popup-image" href="img/gallery/protfolio-img05.jpg">
            <figure class="gallery-image">
              <img
                src="img/gallery/protfolio-img05.jpg"
                alt="img"
                class="img"
              />
            </figure>
          </a>
        </div>
        <div class="grid-item financial">
          <a class="popup-image" href="img/gallery/protfolio-img06.jpg">
            <figure class="gallery-image">
              <img
                src="img/gallery/protfolio-img06.jpg"
                alt="img"
                class="img"
              />
            </figure>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- gallery-area-end -->

<!-- newslater-area -->
{% endblock %}
