{% extends 'lending/base.html' %} {% load static %} {% block content %}
<!-- header-end -->

<!-- main-area -->
<main>
  <!-- breadcrumb-area -->
  <section
    class="breadcrumb-area d-flex align-items-center"
    style="background-image: url(img/testimonial/test-bg.png)"
  >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12">
          <div class="breadcrumb-wrap text-left">
            <div class="breadcrumb-title">
              <h2>Thank You</h2>
              <div class="breadcrumb-wrap">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="index.html">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Thank You
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb-area-end -->
  <!-- contact-area -->
  <section
    id="contact"
    class="contact-area after-none contact-bg p-relative fix"
  >
    <div class="container brd pt-120 pb-120">
      <div class="row">
        <div class="col-lg-12 text-center">
          <p><img src="img/bg/contact-img.png" alt="map" /></p>
          <div class="slider-btn">
            <a
              href="contact.html"
              class="btn ss-btn"
              data-animation="fadeInRight"
              data-delay=".8s"
              >Contact Us</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- contact-area-end -->
  <!-- newslater-area -->
  {% endblock %}
</main>
